body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffc0cb;
  color: #d43f5f;
}

#game {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 20px auto;
  background-color: #c0ffc0;
  border-radius: 15px;
  overflow: hidden;
}

#kitty {
  width: 80px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.strawberry {
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
